
<div *ngIf="this.mobile" class= "mobileBody">
    <div ><app-sidebar></app-sidebar></div>
    <div *ngFor="let item of this.page" class="content-container"><app-card [iterObj1]="item"></app-card></div>
    </div>
    <div *ngIf="this.desktop || this.tablet" class="Body">
        <div *ngIf="this.desktop">
            <span class="flex-container">
        <span class="sidebar-container"><app-sidebar></app-sidebar></span>    <span class="data-container"> <span class="content-container"><span *ngFor="let item of this.coll1" ><app-card [iterObj1]="item"></app-card></span>   <span *ngFor="let item of this.coll2"><app-card [iterObj1]="item"></app-card></span>  <span *ngFor="let item of this.coll3"><app-card [iterObj1]="item"></app-card></span> </span></span>
            </span>
        </div>
        <div *ngIf="this.tablet"><span class="flex-container">
            <span class="sidebar-container"><app-sidebar></app-sidebar></span>    <span class="data-container"> <span class="content-container"><span *ngFor="let item of this.collA" ><app-card [iterObj1]="item"></app-card></span>   <span *ngFor="let item of this.collB"><app-card [iterObj1]="item"></app-card></span></span></span>
        </span></div>
    </div>
   